body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-radius: 0 0 20px 20px;
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 30px;
    width: 100%;
    z-index: 1000;
}

#iconAndUserName {
    display: flex;
    gap: 10px;
}

#userInfo {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

.legendUserName {
    font-size: 9px;
    font-weight: 900;
    color: blue;
}

.userName {
    font-size: 18px;
    font-weight: bold;
}

#addPostBtn {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(0, 94, 255);
    color: white;
    font-weight: 900;
    cursor: pointer;
}

#addPostBtn:hover {
    background-color: blue;
}

#addPostBtn:active {
    transform: scale(0.95);
}

.popUpHidden {
    display: none;

}

.showPopUp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 0;
    text-align: center;
}

.popUp {
    height: 400px;
    width: 350px;
    padding: 60px 80px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

label {
    text-indent: 10px;
}

#postContent, #postTitle {
    margin-top: -10px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

#postContent {
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
    text-wrap: inherit;
    resize: none;
}

#addPost {
    margin-top: 10px;
    border: 1.5px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    background-color: rgb(0, 94, 255);
    color: white;
    font-weight: 900;
    cursor: pointer;
}

#addPost:hover {
    border: 1.5px solid rgb(0, 94, 255);
    background-color: white;
    color: rgb(0, 94, 255);
    font-weight: 900;
}

#addPost:active {
    transform: scale(0.98);
}

main {
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 20px;
}

.postInPage {
    height: 200px;
    width: 420px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.652);
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postInPage:hover {
    transform: scale(1.02);
}

#nothingWasPosted {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
}

#titleAndButton {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#buttons {
    display: flex;
    gap: 20px;
}

#deleteButton {
    height: 35px;
    width: 100px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    border: none;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

#deleteButton:hover {
    background-color: darkred;
}

#deleteButton:active {
    transform: scale(0.95);
}

#updateButton {
    height: 35px;
    width: 100px;
    display: flex; 
    align-items: center;
    justify-content: center;
    border: none;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: green;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

#updateButton:hover {
    background-color: darkgreen;
}

#updateButton:active {
    transform: scale(0.95);
}

#confirm {
    margin-top: 150px;
    background-color: black;
    color: white;
    font-weight: bold;
    transform: scale(1.2);
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    p {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .confirmButtons {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
    }
    button {
        padding: 10px 20px;
        border: 2px solid black;
        border-radius: 20px;
        cursor: pointer;
        font-size: 14px;
    }
    button:hover {
        background-color: black !important;
        color: white !important;
        border: 2px solid white !important;
    }
    button:active {
        transform: scale(0.97);
    }
    #confirm-yes {
        background-color: blue;
        color: white;
    }
    #confirm-no {
        background-color: red;
        color: white;
    }
}

#prompt {
    margin-top: 150px;
    background-color: black;
    color: white;
    font-weight: bold;
    transform: scale(1.2);
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;

    form {
        width: 300px;
        display: flex; 
        flex-direction: column;
        label {
            text-indent: 5px;
            margin-top: 5px;
        }
        #contentInput, #titleInput {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            background-color: transparent;
            color: white;
            border: 2px solid white;
            outline: none;
            border-radius: 10px;
            padding: 8px 10px;
            font-size: 16px;
        }
    } 
    .promptButtons {
        display: flex;
        gap: 10px;
        margin: 15px 0;
    }
    button {
        padding: 10px 20px;
        border: 2px solid black;
        border-radius: 20px;
        width: 100px;
        cursor: pointer;
        font-size: 14px;
    }
    button:hover {
        background-color: black !important;
        color: white !important;
        border: 2px solid white !important;
    }
    button:active {
        transform: scale(0.97);
    }
    #prompt-submit {
        background-color: blue;
        color: white;
    }
    #prompt-cancel {
        background-color: red;
        color: white;
    }
}
