body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.popUpHidden {
    display: none;

}

.popUp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 0;
    text-align: center;
}

.showPopUp {
    height: 400px;
    width: 350px;
    padding: 60px 80px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

label {
    text-indent: 10px;
}

#postContent, #postTitle {
    margin-top: -10px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

#postContent {
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
    text-wrap: inherit;
    resize: none;
}

#addPost {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}